<!--<div *ngIf="selectedStudent" class="selectedStudent">-->
    <!--<h4>-->
        <!--{{selectedStudent.name | uppercase}} was selected-->
    <!--</h4>-->
    <!--<button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->

<h2>Pizza Shop</h2>
<hr>
<h4>check out our menu:</h4>
<ol class="pizzas">
    <li *ngFor="let pizza of pizzas ">
        <!--(click)="onSelect(pizza)">-->

        <label>name: {{pizza.name}}</label>
        <input [(ngModel)]="pizza.price" placeholder="price">
        <button class="update" (click)="update(pizza)">Update</button>
    </li>
  <hr>
</ol>

<div id="update-all">
  <label>PRICE</label>
  <input [(ngModel)]="price" id ="price"> {{price}}
  <button class ="btn" (click)="updateAll()">Update All</button>
</div>
